*{
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
}
body{
  min-height: 100vh;
}
.navbar{
  display: block;
    
}
.navbar ul{
  display: inline-block;
}
.navbar__logo{
  display: inline-block;
}
.navbar__menu-Link{
  display: inline-block;
}
.navbar__menu-toggle{
  display: inline-block;
}
